*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: rgb(255, 0, 123);
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 156, 219);
}
div.container{
background-color: #fff;
width: 40%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
padding: 50px 100px;
border-radius: 20px;
}
div.input_box{
    padding: 30px 50px;
}
input{
    height: 40px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
input,label,button{
    font-size: 18px ;
    font-weight: 700;
}
button{
    width: 100%;
    margin: 10px 10px 10px 10px;
    background-color: rgb(42, 249, 152);
    border-radius: 20px;
    color: white;
}
h1{
    padding-bottom: 40px ;
    color: blue;
}
#output_box{
width: 100%;
justify-content: space-between;
}
#output_box > span{
    background-color: blue;
    font-size: 20px;
    text-align: center;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 10px;

}
@media only screen and (max-width:768){
    div.container{
        width: auto;
    }
}